mixin slider()
  .slider.js-slider
    .slider__scale.js-slider__scale
    .slider__handle.js-slider__handle
      .slider__bubble.js-slider__bubble
    .slider__handle.js-slider__handle
      .slider__bubble.js-slider__bubble
    
