@import '../../colors';

.input {
  &__label {
		display: block;
    margin: 0.35rem 0;
  }

  &__field {
    margin: 0.35rem;
    border: none;
    border-bottom: 0.07rem solid $input;

    &_type {
      &_text {
        outline: 0;
        width: 4rem;

        &:hover,
        &:focus {
          border-bottom: 0.07rem solid $input-hover;
        }
      }
    }
  }
}