@import '../../colors';

.input {
  &__label {
		display: block;
    margin: 0.36rem 0;
  }

  &__field {
    margin: 0.36rem;
    border: none;
    border-bottom: 0.07rem solid $input;
	 
		&_text {
      outline: 0;
      width: 3.6rem;
			
			&:hover,
		 	&:focus {
        border-bottom: 0.07rem solid $input-hover;
      }
    }
  }
}