mixin input(options)
  - const { name, type, label } = options;
  .input
    if type === "checkbox"
      label.checkbox__label.js-checkbox__label
        input.input__field.js-input__field(type="checkbox", name=name)
        = label
    else 
      label.checkbox__label.js-checkbox__label= label
        input.input__field.js-input__field(type="number", name=name)
    
