mixin input(options)
  - const { name, type, label } = options;
  .input
    if type === "checkbox"
      label.input__label
        input.input__field.js-input__field(type="checkbox", name=name)
        = label
    else
      label.input__label= label
        input.input__field.js-input__field.input__field_type_text(type="number", name=name)