include ../input/input

mixin panel()
  .panel.js-panel
    +input({
      name: "minValue",
      type: "number",
      label: "Минимальное значение"
    })
    +input({
      name: "maxValue",
      type: "number",
      label: "Максимальное значение"
    })
    +input({
      name: "firstValue",
      type: "number",
      label: "Первый ползунок"
    })
    +input({
      name: "isSecondValueVisible",
      type: "checkbox",
      label: "Показать второй ползунок"
    })
    +input({
      name: "secondValue",
      type: "number",
      label: "Второй ползунок"
    })
    +input({
      name: "step",
      type: "number",
      label: "Шаг"
    })
    +input({
      name: "isVertical",
      type: "checkbox",
      label: "Вертикальный вид"
    })
    +input({
      name: "isBubbleVisible",
      type: "checkbox",
      label: "Подсказки"
    })
    +input({
      name: "isScaleStepsVisible",
      type: "checkbox",
      label: "Шкала"
    })

    
