@import '../../colors';

.slider-block {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;

  &__slider {
    flex-grow: 1;
  }

  &__panel {
    margin: 1rem;
    margin-left: 5rem;
  }
}