mixin slider(options)
  .slider.js-slider(data-options= options)
    .slider__scale.js-slider__scale
    .slider__runner.js-slider__runner
      .slider__bubble.js-slider__bubble
    .slider__runner.js-slider__runner
      .slider__bubble.js-slider__bubble
