include ./slider-block/slider-block

doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="initial-scale=1.0, width=device-width")
		meta(name="keywords" content="")
		meta(name="description" content="")
		title Slider
		link(rel="mask-icon" href="favicon/favicon.svg" color="#0270ba")
	body
		+slider-block({
			minValueScale: 0,
			maxValueScale: 100,
			firstValue: 55,
			showSecondValue: 'true',
			secondValue: 70,
			step: 1,
			verticalScale: 'false',
			showBubble: 'true'
		})
		+slider-block({
			minValueScale: -20,
			maxValueScale: 150,
			firstValue: -5,
			showSecondValue: 'true',
			secondValue: 100,
			step: 5,
			verticalScale: 'true',
			showBubble: 'true'
		})
		+slider-block({
			minValueScale: 0,
			maxValueScale: 100,
			firstValue: 55,
			showSecondValue: 'false',
			secondValue: 70,
			step: 1,
			verticalScale: 'false',
			showBubble: 'false'
		})

