@import 'colors';

html {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: $text;
  background: $main-white;
}

.slider-block {
  display: flex;
  justify-content: space-between;
}

.slider {
  width: 90%;
  position: relative;
  margin: 3.14rem 0;

  &__scale {
    margin: 0.71rem 0;
    height: 0.07rem;
    border: 0.71rem solid $main-white;
    background: $scale;

    &_vertical {
      margin: 0 0.71rem;
      width: 0.07rem;
      height: 35.71rem;
    }
  }

  &__handle {
    position: absolute;
    width: 1.43rem;
    height: 1.43rem;
    background: $main-white;
    box-shadow:0 0.07rem 0.43rem 0 $shadow;
    border-radius: 50%;
    transform: translate(-0.71rem, 0);
    cursor: pointer;
		
		&_vertical {
      transform: translate(0, -0.71rem);
    }
  }

  &__bubble {
    width: 1.34rem;
    padding: 0.43rem;
    transform: translate(1.07rem, -1.34rem);
    box-shadow: 0 0.07rem 0.43rem 0 $shadow;
    background: $main-white;
    text-align: center;
		
		&_vertical {
      transform: translate(2.85rem, -0.36rem);
			box-shadow:0 0.07rem 0.43rem 0 $shadow;
      text-align: center;
    }
  }
}

.panel {
  width: 21.42rem;
  padding: 1.43rem 1.43rem 2.14rem;
  margin: 1rem;
  box-shadow:0 0.07rem 0.43rem 0 $shadow;
  
  &__label {
    margin: 0.36rem 0;
    display: block;
  }

  &__input {
    margin: 0.36rem;
    border: none;
    border-bottom: 0.07rem solid $input;
    &[type="text"] {
      outline: 0;
      width: 3.6rem;
      &:hover,
      &:focus {
        border-bottom: 0.07rem solid $input-hover;
      }
    }
  }
}