label Минимальное значение
  input.panel__input(type = "text", name="minValueScale")
label Максимальное значение
  input.panel__input(type = "text", name="maxValueScale")
label Первое значение
  input.panel__input(type = "text", name="firstValue")
label Показать второе значение
  input.panel__input(type = "checkbox", name="showSecondValue")
label Второе значение
  input.panel__input(type = "text", name="secondValue")
label Шаг
  input.panel__input(type = "text", name="step")
label Вертикальный вид
  input.panel__input(type = "checkbox", name="verticalScale")
label Подсказки
  input.panel__input(type = "checkbox", name="showBubble")