label.panel__label.js-panel__label Минимальное значение
  input.panel__input.js-panel__input(type = "text", name="minValueScale")
label.panel__label.js-panel__label Максимальное значение
  input.panel__input.js-panel__input(type = "text", name="maxValueScale")
label.panel__label.js-panel__label Первое значение
  input.panel__input.js-panel__input(type = "text", name="firstValue")
label.panel__label.js-panel__label
  input.panel__input.js-panel__input(type = "checkbox", name="showSecondValue")
  |Показать второе значение
label.panel__label.js-panel__label Второе значение
  input.panel__input.js-panel__input(type = "text", name="secondValue")
label.panel__label.js-panel__label Шаг
  input.panel__input.js-panel__input(type = "text", name="step")
label.panel__label.js-panel__label
  input.panel__input.js-panel__input(type = "checkbox", name="verticalScale")
  |Вертикальный вид
label.panel__label.js-panel__label
  input.panel__input.js-panel__input(type = "checkbox", name="showBubble")
  |Подсказки