label.slider-block__label.js-slider-block__label Минимальное значение
  input.slider-block__input.js-slider-block__input.slider-block__input_text(type = "text", name="minValueScale")
label.slider-block__label.js-slider-block__label Максимальное значение
  input.slider-block__input.js-slider-block__input.slider-block__input_text(type = "text", name="maxValueScale")
label.slider-block__label.js-slider-block__label Первое значение
  input.slider-block__input.js-slider-block__input.slider-block__input_text(type = "text", name="firstValue")
label.slider-block__label.js-slider-block__label
  input.slider-block__input.js-slider-block__input(type = "checkbox", name="showSecondValue")
  |Показать второе значение
label.slider-block__label.js-slider-block__label Второе значение
  input.slider-block__input.js-slider-block__input.slider-block__input_text(type = "text", name="secondValue")
label.slider-block__label.js-slider-block__label Шаг
  input.slider-block__input.js-slider-block__input.slider-block__input_text(type = "text", name="step")
label.slider-block__label.js-slider-block__label
  input.slider-block__input.js-slider-block__input(type = "checkbox", name="verticalScale")
  |Вертикальный вид
label.slider-block__label.js-slider-block__label
  input.slider-block__input.js-slider-block__input(type = "checkbox", name="showBubble")
  |Подсказки